{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Foodee &mdash; 100%.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="phd.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="phd.co" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="{%static 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Merriweather:300,400italic,300italic,400,700italic' %}" rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{%static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{%static 'css/icomoon.css' %}">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="{%static 'css/simple-line-icons.css' %}">
	<!-- Datetimepicker -->
	<link rel="stylesheet" href="{%static 'css/bootstrap-datetimepicker.min.css' %}">
	<!-- Flexslider -->
	<link rel="stylesheet" href="{%static 'css/flexslider.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{%static 'css/bootstrap.css' %}">

	<link rel="stylesheet" href="{%static 'css/style.css' %}">


	<!-- Modernizr JS -->
	<script src="{%static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<div id="fh5co-container">
		<div id="fh5co-home" class="js-fullheight" data-section="home">

			<div class="flexslider">
				
				<div class="fh5co-overlay"></div>
				<div class="fh5co-text">
					<div class="container">
						<div class="row">
							<h1 class="to-animate">Foodee</h1>
							<h2 class="to-animate">Lovely Designed <span>by</span> <a href="{%static 'http://freehtml5.co/' %}" target="_blank">PHD</a></h2>
						</div>
					</div>
				</div>
			  	<ul class="slides">
			   	<li style="background-image: url({%static 'images/slide_1.jpg' %});" data-stellar-background-ratio="0.5"></li>
			   	<li style="background-image: url({%static 'images/slide_2.jpg' %});" data-stellar-background-ratio="0.5"></li>
			   	<li style="background-image: url({%static 'images/slide_3.jpg' %});" data-stellar-background-ratio="0.5"></li>
			  	</ul>

			</div>
			
		</div>
		
		<div class="js-sticky">
			<div class="fh5co-main-nav">
				<div class="container-fluid">
					<div class="fh5co-menu-1">
						<a href="#" data-nav-section="home">Home</a>
						<a href="#" data-nav-section="about">About</a>
						<a href="#" data-nav-section="features">Features</a>
					</div>
					<div class="fh5co-logo">
						<a href="index.html">foodee</a>
					</div>
					<div class="fh5co-menu-2">
						<a href="#" data-nav-section="menu">Menu</a>
						<a href="#" data-nav-section="userrating">User Ratings</a>
						<a href="#" data-nav-section="review">Review</a>
					</div>
				</div>
				
			</div>
		</div>

		<div id="fh5co-about" data-section="about">
			<div class="fh5co-2col fh5co-bg to-animate-2" style="background-image: url({%static 'images/donut1.jpg' %})"></div>
			<div class="fh5co-2col fh5co-text">
				<h2 class="heading to-animate">About Us</h2>
				<p class="to-animate"><span class="firstcharacter"> F</span><b><i>oooodeee!!</i></b></br></br> This AMAZING website brings to you HONEST and PRECISE food and restaurant review.! We provide review of food chains stretching from VASAI to CHURCHGATE covering all the small as well as huge restaurants and food hubs. Get information about the most trending options you have when you visit your favourite FOOD JOINTS! Your review can be featured on our website if we find it genuine.. So feel free to SHARE YOUR OPINION :)   </p>
				<p class="text-center to-animate"><a href="#" class="btn btn-primary btn-outline">Get in touch</a></p>
			</div>
		</div>

		<div id="fh5co-sayings">
			<div class="container">
				<div class="row to-animate">

					<div class="flexslider">
						<ul class="slides">
							
							<li>
								<blockquote>
									<p>&ldquo;Cooking is an art, but all art requires knowing something about the techniques and materials&rdquo;</p>
									<p class="quote-author">&mdash; Nathan Myhrvold</p>
								</blockquote>
							</li>
							<li>
								<blockquote>
									<p>&ldquo;Give a man food, and he can eat for a day. Give a man a job, and he can only eat for 30 minutes on break.&rdquo;</p>
									<p class="quote-author">&mdash; Lev L. Spiro</p>
								</blockquote>
							</li>
							<li>
								<blockquote>
									<p>&ldquo;Find something you’re passionate about and keep tremendously interested in it.&rdquo;</p>
									<p class="quote-author">&mdash; Julia Child</p>
								</blockquote>
							</li>
							<li>
								<blockquote>
									<p>&ldquo;Never work before breakfast; if you have to work before breakfast, eat your breakfast first.&rdquo;</p>
									<p class="quote-author">&mdash; Josh Billings</p>
								</blockquote>
							</li>
							
							
						</ul>
					</div>

				</div>
			</div>
		</div>

		<div id="fh5co-featured" data-section="features">
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="heading to-animate">Featured And Trending</h2>
						<p class="sub-heading to-animate"></p>
					</div>
				</div>
				<div class="row">
					<div class="fh5co-grid">
						<div class="fh5co-v-half to-animate-2">
							<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({%static 'images/bluelagoon1.jpg' %})" width="50px" height="50px"></div>
							<div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
								<h2>Blue Lagoon Mocktail</h2>
								<span class="pricing">Rs.180</span>
								<p>Blue lagoon mocktail is one of the very delicious soft drink to have for refreshment, it's a non alcoholic.<br><br>Food Joint Famous for this Mocktail-145 BANDRA</p>
							</div>
						</div>
						<div class="fh5co-v-half">
							<div class="fh5co-h-row-2 to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({%static 'images/burger.jpg' %})"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-left">
									<h2>Special Godfather Burger</h2>
									<span class="pricing">Rs.240</span>
									<p>Godfather,as the name suggests, is very delicious and huge enough to fill your stomach.<br><br>HOWRAH,BANDRA is famous for this humungous burger. </p>
								</div>
							</div>
							<div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({%static 'images/pizza2.png' %})"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-right">
									<h2>Special Margherita Pizza</h2>
									<span class="pricing">Rs.150-Rs.200</span>
									<p>A flat bread layered with juicy tomato sauce and topped with fresh veggies as pizza toppings and shredded mozzarella cheese.<br><br>Food corners famous for pizza's are- Joey's,Pizza by the bay,Dominoes.</p>
								</div>
							</div>
						</div>

						<div class="fh5co-v-half">
							<div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({%static 'images/pasta.jpg' %})"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-right">
									<h2>Arabbiata Penne Pasta</h2>
									<span class="pricing">Rs.275</span>
									<p>Pasta is a staple dish of Italian cuisine.It is famous among the teens.<br><br>Places famous for this- Bombay Blue, Little Italy.</p>
								</div>
							</div>
							<div class="fh5co-h-row-2 to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({%static 'images/fries.jpg' %})"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-left">
									<h2>French Fries</h2>
									<span class="pricing">Rs.100</span>
									<p>These long, crinkle-cut French fries are a scrumptious addition to any meal. With a quick oven bake or deep fry, these fries are sure to be a fast, delicious side the kids (and adults) will love!<br><br> Fries lovers should visit McDonald's.</p>
								</div>
							</div>
						</div>
						<div class="fh5co-v-half to-animate-2">
							<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({%static 'images/freakshake.jpg' %})"></div>
							<div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
								<h2>Freakshake</h2>
								<span class="pricing">Rs.300</span>
								<p>Freak shakes are all the rage right now. SAD? Order a freakshake.<br><br>D'bella is the most recommended cafe for freakshakes.</p>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>

		<div id="fh5co-type" style="background-image: url({%static 'images/slide_3.jpg' %});" data-stellar-background-ratio="0.5">
			<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-3 to-animate">
						<div class="fh5co-type">
							<h3 class="with-icon icon-1">Fruits</h3>
							<p> Fruits provide health benefits and are important for the prevention of illnesses. The Indian Department of Agriculture recommends filling half of your plate with fruits at each meal. Fruits contain a variety of nutrients including vitamins, minerals and antioxidants.</p>
						</div>
					</div>
					<div class="col-md-3 to-animate">
						<div class="fh5co-type">
							<h3 class="with-icon icon-2">Sea food</h3>
							<p>Seafood provides the body with many essential nutrients which keep us running smoothly, including iodine, selenium, zinc and potassium. Iodine is important for the thyroid gland, and selenium makes enzymes which can help to protect us from cancer. Fish and shellfish are also excellent sources of many vitamins.</p>
						</div>
					</div>
					<div class="col-md-3 to-animate">
						<div class="fh5co-type">
							<h3 class="with-icon icon-3">Vegetables</h3>
							<p>Vegetables provide health benefits and are important for the prevention of illnesses. The Indian Department of Agriculture recommends filling half of your plate with vegetables at each meal. Vegetables contain a variety of nutrients including vitamins, minerals and antioxidants.</p>
						</div>
					</div>
					<div class="col-md-3 to-animate">
						<div class="fh5co-type">
							<h3 class="with-icon icon-4">Meat</h3>
							<p>In many parts of the world, meat makes up a considerable portion of a typical diet. It contributes protein, minerals, vitamins and fat, and these nutrients are important for their beneficial effects on your well-being</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-menus" data-section="menu">
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="heading to-animate">Foodee Outlet</h2>
						<p class="sub-heading to-animate">Menu</p>
					</div>
				</div>
				<div class="row row-padded">
					<div class="col-md-6">
						<div class="fh5co-food-menu to-animate-2">
							<h2 class="fh5co-drinks">Drinks</h2>
							<ul>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="{%static 'images/res_img_5.jpg' %}" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
										</figure>
										<div>
											<h3>Watermelon Juice</h3>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs.80
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="{%static 'images/res_img_6.jpg' %}" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
										</figure>
										<div>
											<h3>Fresh lime</h3>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs.50
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="{%static 'images/res_img_7.jpg' %}" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
										</figure>
										<div>
											<h3>Soft Drinks</h3>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs.40
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="{%static 'images/res_img_5.jpg' %}" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
										</figure>
										<div>
											<h3>Sp.Health Drink</h3>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs.30
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-food-menu to-animate-2">
							<h2 class="fh5co-dishes">Steak</h2>
							<ul>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="{%static 'images/res_img_3.jpg' %}" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
										</figure>
										<div>
											<h3>Beef Steak</h3>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs.100
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="{%static 'images/res_img_4.jpg' %}" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
										</figure>
										<div>
											<h3>Tomato with Chicken</h3>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs.50
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="{%static 'images/res_img_2.jpg' %}" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
										</figure>
										<div>
											<h3>Sausages from Italy</h3>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs.120
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="{%static 'images/res_img_8.jpg' %}" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
										</figure>
										<div>
											<h3>Beef Grilled</h3>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs.110
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-food-menu to-animate-2">
							<h2 class="fh5co-drinks">Drinks</h2>
							<ul>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="{%static 'images/res_img_5.jpg' %}" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
										</figure>
										<div>
											<h3>Pineapple Juice</h3>
											
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs.90
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="{%static 'images/res_img_6.jpg' %}" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
										</figure>
										<div>
											<h3>Green Juice</h3>
											
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs.70
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="{%static 'images/res_img_7.jpg' %}" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
										</figure>
										<div>
											<h3>Soft Drinks</h3>
											
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs.40
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="{%static 'images/res_img_5.jpg' %}" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
										</figure>
										<div>
											<h3>Carlo Rosee Drinks</h3>
											
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs.120
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-food-menu to-animate-2">
							<h2 class="fh5co-dishes">Starters</h2>
							<ul>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="{%static 'images/res_img_3.jpg' %}" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
										</figure>
										<div>
											<h3>Chicken Tikka</h3>
											
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs.150
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="{%static 'images/res_img_4.jpg' %}" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
										</figure>
										<div>
											<h3>Panner Tikka</h3>
											
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs.140
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="{%static 'images/res_img_2.jpg' %}" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
										</figure>
										<div>
											<h3>Chicken 65</h3>
										
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs.120
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="{%static 'images/res_img_8.jpg' %}" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
										</figure>
										<div>
											<h3>Paneer 65</h3>
											
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs.140
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-md-offset-4 text-center to-animate-2">
						<p><a href="#" class="btn btn-primary btn-outline">More Food Menu</a></p>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-events" data-section="userrating" style="background-image: url({%static 'images/slide_2.jpg' %});" data-stellar-background-ratio="0.5">
			<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2 to-animate">
						<h2 class="heading">Upcoming Events</h2>
						<p class="sub-heading"></p>
					</div>
				</div>
				<div class="row-100">
					<div class="col-md-15">
						<div class="fh5co-event to-animate-2">
							<h3>REVIEWS</h3>
							<span class="fh5co-event-meta"></span>
							<!--<p>{{ post.review }}</p>-->
							{% for i in p %}
								<h1>{{ i.dishname }}</h1>
								<p>{{ i.review }}</p>
							{% endfor %}
							<!--<h1>{{ p.dishname }}</h1>
							<p>{{ p.review }}</p>-->
							<!--<p><a href="#" class="btn btn-primary btn-outline">Read More</a></p> -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-contact" data-section="review">
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="heading to-animate">Review Our Food</h2>
						<p class="sub-heading to-animate"></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 to-animate-2">
						<h3>Contact Info</h3>
						<ul class="fh5co-contact-info">
							<li class="fh5co-contact-address ">
								<i class="icon-home"></i>
								Foodee,Road No. 5,Opp. Dwarkas.J.Sanghvi College Of Engineering, <br>Vile Parle(East)
							</li>
							<li><i class="icon-phone"></i> (022) 2345 6789</li>
							<li><i class="icon-envelope"></i>foodee@gmail.com</li>
							<li><i class="icon-globe"></i> <a href='http://freehtml5.co/' target="_blank">TheGoodFood.co</a></li>
						</ul>
					</div>
					<div class="col-md-6 to-animate-2">
						<h3>Review Section</h3>
						<div class="form-group ">
						<form method="POST" action="{% url 'food:index' %}">
							{% csrf_token %}
							<label for="name" class="sr-only">Name</label>
							<input id="name" name="name" class="form-control" placeholder="Name" type="text">
						</div>
						<div class="form-group ">
							<label for="email" class="sr-only">Email</label>
							<input id="email" name="email" class="form-control" placeholder="Email" type="email">
							</div>
						<!-- <div class="form-group">
							<label for="dishname" class="sr-only">Dish</label>
							<select class="form-control" id="dishname" name="dishname">
								<option>Select a Dish</option>
							  <option value="Wedding Ceremony">Wedding Ceremony</option>
							  <option value="Birthday">Birthday</option>
							  <option value="Others">Others</option>
							</select>
						</div> -->
						<div class="form-group ">
							<label for="dishname" class="sr-only">Dish Name</label>
							<input id="dishname" class="form-control" placeholder="Dish Name" type="text" name="dishname">
						</div>


							
						<div class="form-group ">
							<label for="review" class="sr-only">Review</label>
							<input name="review" id="review" cols="30" rows="5" class="form-control" placeholder="Message">
						</div>
						<div class="form-group ">
							<input class="btn btn-primary" value="Send Message" type="submit">
						</div>
						</div>
						</form>
				</div>
			</div>
		</div>

		<!-- {{ post.message }} -->
	</div>

	<div id="fh5co-footer">
		<div class="container">
			<div class="row row-padded">
				<!--<div class="col-md-12 text-center">
					<p class="to-animate">&copy; 2016 Foodee Free HTML5 Template. <br> Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> Demo Images: <a href="http://pexels.com/" target="_blank">Pexels</a> <br> Tasty Icons Free <a href="http://handdrawngoods.com/store/tasty-icons-free-food-icons/" target="_blank">handdrawngoods</a>
					</p>
					<p class="text-center to-animate"><a href="#" class="js-gotop">Go To Top</a></p>
				</div>
			</div>-->
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="fh5co-social">
						<li class="to-animate-2"><a href="#"><i class="icon-facebook"></i></a></li>
						<li class="to-animate-2"><a href="#"><i class="icon-twitter"></i></a></li>
						<li class="to-animate-2"><a href="#"><i class="icon-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>


	
	
	
	
	<!-- jQuery -->
	<script src="{%static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{%static 'js/jquery.easing.1.3.js0' %}"></script>
	<!-- Bootstrap -->
	<script src="{%static 'js/bootstrap.min.js' %}"></script>
	<!-- Bootstrap DateTimePicker -->
	<script src="{%static 'js/moment.js' %}"></script>
	<script src="{%static 'js/bootstrap-datetimepicker.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{%static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{%static 'js/jquery.stellar.min.js' %}"></script>

	<!-- Flexslider -->
	<script src="{%static 'js/jquery.flexslider-min.js' %}"></script>
	<script>
		$(function () {
	       $('#date').datetimepicker();
	   });
	</script>
	<!-- Main JS -->
	<script src="{%static 'js/main.js' %}"></script>

	</body>
</html>

